# Ignore all Jupyer checkpoints
**/.ipynb_checkpoints/

# Ignore all .vscode
.vscode

# Ignore all temporary files and folders
~$*.xlsx
__pycache__
src/Output


# Ignore some temp doc files
docs/ToDo.docx

for_running_test_code.py